@import "tailwindcss";
@import "./colors.css";

@theme {
  --color-giordano: #8000ff;
}

:root {
  font-family: "Roboto", Arial, sans-serif;
  line-height: 1.8;

  color-scheme: light dark;
  color: #202020;
  background-color: var(--background-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}

a {
  font-weight: 550;
  color: #698565;
  text-decoration: inherit;
  margin-top: -10px;
}
a:hover {
  color: #869b82;
}

/* Informações da fonte */
h1 {
  line-height: 1;
  -webkit-user-select: none;
  user-select: none;
}

h2,
h3,
h4,
h5,
h6 {
  padding: 2rem;
  -webkit-user-select: none;
  user-select: none;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

p {
  -webkit-user-select: text;
  user-select: text;
}

button {
  border: 1px solid transparent;
  border-radius: 15px;
  padding: 0.5rem 1.1rem;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.3s;
}

@media (max-width: 720px) {
  h2 {
    display: none;
  }
}

/* Dark Theme */
.dark,
.dark header {
  background-color: #374235;
  color: #eee;

  --color-theme: rgb(179, 153, 60);
  --container-form: #282828;
  --input-form: #303830;
  --input-form-hover: #354335;

  --gradient-top: #2f3c2e;
  --gradient-bottom: #455b41;

  input {
    color: #eee;
  }

  input::placeholder {
    color: #bbb;
  }

  .top-bar nav button {
    border: 1px solid;
    border-color: #aaa;
  }

  .top-bar nav .theme-toggle {
    border-color: rgb(179, 153, 60);
  }
}
