/* ==========================================================================
   Top Bar (Barra Superior)
   ========================================================================== */
/* Código para a Logo */

.top-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(
    to bottom,
    var(--gradient-top),
    var(--gradient-bottom)
  );
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.6);
  transition: 0.3s ease-in-out;
  z-index: 2;
}

.bi-sun {
  position: fixed;
  color: var(--color-theme);
  z-index: 5;
}

.logo {
  left: 4.5vw;
  width: 80px;
  height: 80px;
  position: absolute;
  background: url("../Login/gallery/logo.png") no-repeat center / contain;
  background-size: contain;
}

.logo-text {
  position: fixed;
  font-size: 3.2rem;
  left: calc(5vw + 50px);
  user-select: none;
}

.top-bar nav {
  display: flex;
  margin-left: auto;
}

/* Estilo específico para botões dentro do .top-bar nav */
.top-bar nav button {
  border-radius: 15px;
  font-size: 1.2rem;
  font-weight: 400;
  font-family: inherit;
  color: white;
  background-color: var(--button-topbar);
  min-width: 3.5rem;
  padding: 0.8rem;
  margin: 0.8vw;
  cursor: pointer;
  transition: border-color 0.3s, background-color 0.3s;
}

.top-bar nav .theme-toggle {
  display: flex;
  justify-content: center;
  color: var(--color-theme);
}

.buttomSetting {
  background-color: transparent;
  border: none;
  display: flex;
}

/* Informações da fonte */
h1 {
  padding: 3rem;
  font-size: 3.5rem;
  font-weight: 500;
}

.top-bar nav button:hover {
  background-color: var(--button-login);
}

@media (max-width: 720px) {
  .logo {
    position: absolute;
    padding-left: 73vw;
    top: 590px;
    width: 120px;
    height: 120px;
  }

  .top-bar {
    max-height: 8vw;
    padding: 1rem;
    transition: 0.3s ease-in-out;
  }

  .top-bar nav {
    margin-right: 2rem;
  }

  .top-bar nav button {
    margin: 1.8vw;
  }

  .top-bar h1,
  .top-bar .text-element {
    display: none;
  }
}
