*{
  margin: 0;
  padding: 0;
}

:root {
  font-family: 'Roboto', Arial, sans-serif;
  line-height: 1.8;
  position: fixed;

  color-scheme: light dark;
  color: #202020;
  background-color: var(--background-color);


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


a {
  font-weight: 550;
  color: #698565;
  text-decoration: inherit;
  margin-top: -10px;;
}
a:hover {
  color: #869b82;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  padding: 2rem;
  height: 100vh;
  user-select: none;
  overflow: hidden;
  transition: 0.5s;
}

/* Informações da fonte */
h1 {
  padding: 3rem;
  font-size: 3.5rem;
  font-weight: 500;
  line-height: 2;
  user-select: none;
}

h2 {
  padding: 3rem;
  line-height: 1.8;
  user-select: none;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana;
}

button {
  border: 1px solid transparent;
  border-radius: 15px;
  padding: 0.5rem 1.1rem;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.3s;
}

@media (max-width: 768px) {
  h2 {
    display: none;
  }
}


/* Dark Theme */
.dark,
.dark header {
  background-color: #374235;
  color: #EEE;

  --color-theme: rgb(179, 153, 60);
  --container-form: #282828;
  --input-form: #303830;

  --gradient-top: #3e503c;
  --gradient-bottom: #567251;

  input {
    color: #EEE;
  }

  input::placeholder {
      color: #BBB;
  }

  .top-bar nav button{
    border: 1px solid;
    border-color: #AAA;
  }

  .top-bar nav .theme-toggle {
    border-color:rgb(179, 153, 60);
  }
}