:root {
  font-family: 'Roboto', Arial, sans-serif;
  line-height: 1.8;
  font-weight: 3rem;

  color-scheme: light dark;
  color: rgb(50, 50, 50);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 550;
  color: #698565;
  text-decoration: inherit;
}
a:hover {
  color: #869b82;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  padding: 2rem;
  min-height: 100vh;
  user-select: none;
  overflow: hidden;
  scrollbar-width: none;    /* remove no Firefox */
}

/* Informações da fonte */
h1 {
  padding: 3rem;
  font-size: 3.5rem;
  line-height: 1.1;
  user-select: none;
}

button {
  border: 1px solid transparent;
  border-radius: 15px;
  padding: 0.5rem 1.1rem;
  font-size: 1rem;
  font-weight: 500;
  font-family: inherit;
  background-color: #414141;
  cursor: pointer;
  transition: border-color 0.3s;
}

button:hover {
  background-color: #484848;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #cbd7c9;
    background-color: #2d372b;
  }

  a:hover {
    color: #6c9169;
  }

  button {
    background-color: #6c9169;
  }
}

@media (max-width: 768px) {
  h1 {
    width: 200px;
  }
}