:root {
  font-family: 'Roboto', Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgb(50, 50, 50);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 550;
  color: #698565;
  text-decoration: inherit;
}
a:hover {
  color: #869b82;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border: 3px solid transparent;
  border-radius: 15px;
  padding: 0.5em 1.1em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #414141;
  cursor: pointer;
  transition: border-color 0.3s;
}
button:hover {
  border-color: #cbd7c9;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #cbd7c9;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
